.cascading-right {
    margin-right: -50px;
  }
  
  @media (max-width: 900px) {
    .cascading-right {
      margin-right: 0;
    }
  }
img{

    width: 80%;
    height: 100vh;
    overflow: hidden;
}
