.card-header{
    background-color: #A0AECD !important;
    color: black !important;
}
.card{
    width: 96%!important;
    /* justify-content: center!important; */
    margin-left: 01%;
}
.card-container {
    margin-bottom: 03%; /* Adjust the value to control the space between cards */
  }
  